name: deploy.yml
on:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to AWS EC2 Instance - Pact
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_PACT_IP }}
        username: ${{ secrets.EC2_PACT_USER }}
        key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        script: |
          cd ~/app
          git pull origin main
          docker compose down
          docker compose up -d --build
          docker ps